<div id="<%= dom_id model %>">
  <p>
    <strong>Model code:</strong>
    <%= model.model_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= model.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= model.type_id %>
  </p>

</div>
