<div id="<%= dom_id type %>">
  <p>
    <strong>Type name:</strong>
    <%= type.type_name %>
  </p>

  <p>
    <strong>Type number:</strong>
    <%= type.type_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= type.description %>
  </p>

</div>
