<h1>New Type</h1>

<div class="card">
  <div class="card-body">
    <%= render 'form', type: @type %>
  </div>
</div>

<div class="mt-3">
  <%= link_to 'Back to Types', types_path, class: "btn btn-outline-secondary" %>
</div>
