<div id="<%= dom_id block %>">
  <p>
    <strong>Block number:</strong>
    <%= block.block_number %>
  </p>

  <p>
    <strong>Block name:</strong>
    <%= block.block_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= block.description %>
  </p>

</div>
