<div id="<%= dom_id version %>">
  <p>
    <strong>Version number:</strong>
    <%= version.version_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= version.description %>
  </p>

  <p>
    <strong>Part:</strong>
    <%= version.part_id %>
  </p>

</div>
