<h1>New Version</h1>

<div class="card">
  <div class="card-body">
    <%= render 'form', version: @version %>
  </div>
</div>

<div class="mt-3">
  <%= link_to 'Back to Versions', versions_path, class: "btn btn-secondary" %>
</div>
