$primary: #2784e8; // プライマリカラーの変更
$font-family-base: 'Roboto',
    sans-serif; // フォントの変更
@import "bootstrap";

#block-list {
    .list-group-item {
        cursor: pointer;

        &:hover {
            background-color: #f8f9fa;
        }
    }
}

#selected-count {
    font-weight: bold;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.custom-select {
    position: relative;

    #custom-select-input {
        width: 100%;
    }

    #custom-select-list {
        display: none;
        position: absolute;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
        border: 1px solid #ced4da;
        border-top: none;
        border-radius: 0 0 0.25rem 0.25rem;
        background-color: #fff;

        li {
            cursor: pointer;
            padding: 0.5rem;

            &:hover,
            &.active {
                background-color: #f8f9fa;
            }
        }
    }
}

#add-part-btn {
    margin-top: 1rem;
}

.fixed-card {
    height: 350px;
}

.fixed-scroll {
    overflow-y: auto;
    height: calc(100% - 56px); // ヘッダー部分の高さに合わせて調整
}